# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HelixJump.iml
# Datasource local storage ignored files
/../../../../../../../../:\My directory\UnityGames\HelixJump\HelixJump\.idea\.idea.HelixJump\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
